# Byte-compiled / optimized / DLL files
__pycache__/

# jupyter-notebooks checkpoints
.ipynb_checkpoints/

# 
constraints.txt
C_Cavitation.txt
C_Resonance.txt
C_Strength.txt
C_Velocity.txt
octave-workspace
output.mat
best_fitness.txt
